/* font-family: "Open Sans", sans-serif; 
   background-color: #2e64a1;
*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding-top: 20px;
}

h1 {
    color: white;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    flex-grow: 1;
    /*desamontono los elementos*/
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 0;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #4c76a5;
}

footer {
    background-color: #ccc;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

/* inicio home */
.homeimg img {
    max-width: 100%;
}

.columnas {
    display: flex;
    padding-right: 20px;
}

.bienvenidos {
    width: 75%;
}

.testimonios {
    width: 25%;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonio {
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
}

.testimonio .autor {
    font-size: 12px;
    display: block;
}

/* fin home */

/*inicio nosotros*/
.historia p {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 18%;
    padding: 12px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    width: 40%;
    margin: 10px 0 12px;
}

.persona h5,
.persona h6 {
    color: #2e64a1;
    margin: 0;
    font-weight: normal;
}

.persona h5 {
    font-size: 14px;
}

.persona h6 {
    font-style: italic;
}

.persona p {
    font-size: 12px;
    text-align: left;
}

/*fin nosotros*/

/* inicio servicios */
hr {
    border: 1px solid #2e64a1;
}

 .transportes {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
 }

 .transportes h2{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
 }
.serviciosimg img {
    border-radius: 20px;
    padding: 15px;
}

.aereo {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 15px;
}

.ferroviario {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 15px;
}

.maritimo {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 15px;
}
/* fin servicios */

/* inicio novedades */
.novedad h3, h4{
    color: #4c76a5;
}

.novedad:hover{
    background-color: #ccc;
    scale: 1.2;
    transition: 2s;
}
/* fin novedades */
/* inicio galeria */
.galeria{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.marcoimg{
    border: 1px solid darkgray; 
    margin: 10px;
}
.marcoimg img{
    width: 150px;
    height: auto;  
    padding: 5px;  
}

.marcoimg img:hover{
    scale: 1.5; 
    transform: ;
    transition: 0.5s;
}
/* fin galeria */

/* inicio contacto */
.contacto {
    display: flex;
    gap: 25px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
    list-style: none;
}

/* .formulario p{
    display: flex;
} */

.formulario p label {
    min-width: 100px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.formulario p textarea {
    resize: none;
    height: 150px;
}

/* .formulario p:nth-child(4){
    background-color: orange;
    align-items: start;
} */

.formulario input[type="submit"] {
    background-color: #6da9ed;
    width: auto;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    position: relative;
    /* left: 100px; */
}

.formulario input[type="submit"]:hover {
    background-color: #2e64a1;
}

i {
    color: black;
}

/* fin contacto */

/*inicio @media 550*/
@media screen and (max-width:550px) {
    header .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 16px 0;
    }

    header h1 {
        position: static;
        margin-left: 10px;
    }

    header img {
        max-width: 80px;
    }

    /*home*/

    .columnas {
        flex-direction: column;
    }

    .bienvenidos,
    .testimonios {
        width: 100%;
    }

    .holder {
        padding: 0 16px;
    }

    .personas {
        flex-wrap: wrap;
        gap: 16px;
    }

    .persona {
        width: 47%;
    }

    /*contacto*/
    .contacto {
        flex-direction: column;
    }

    .datos {
        display: none;
    }

    /*inicio media 550*/
    @media screen and (max-width:320px) {
        nav ul.holder {
            flex-direction: column;
            padding: 0;
        }

    }
}